language: python

before-install:
  - pip install -r requirements.txt

script:
  - python manage.py makemigrations
  - python manage.py migrate
  - python manage.py collectstatic --noinput
  - black .
  - flake8 .
  - coverage run --source='.' manage.py test

after_success:
  - coveralls
