html,
body {
  margin: 0px;
  padding: 0px;
}
:root {
  --color-orange-600: rgb(255, 188, 137);
  --color-orange-500: rgb(255, 163, 93);
  --color-orange-400: rgb(255, 140, 51);
  --color-gray: rgb(145, 145, 145);
}
.price-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: auto;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  padding: 50px 0px;
}
.price h2 {
  font-size: 60px;
  font-weight: 500;
  margin: 10px 0px 30px 0px;
}
.price h3 {
  font-size: 25px;
  font-weight: 400;
  margin: 0px;
}
.buy-btn {
  border: none;
  background-color: var(--color-orange-500);
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 8px;
}
.buy-btn:hover {
  background-color: var(--color-orange-400);
}
.container img {
  width: 500px;
  height: auto;
  max-width: 100%;
}
.subtitle {
  font-size: 25px;
  font-weight: 400;
  color: var(--color-gray);
}
.alert {
  background-color: var(--color-orange-600);
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0px;
}
.alert p {
  margin: 0px;
}
