@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(255, 163, 93);
}
a:hover {
  color: rgb(255, 140, 51);
}

img {
  max-width: 100%;
}
input[type="checkbox"] {
  appearance: auto;
  width: auto !important;
  margin-left: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.left-section {
  flex: 1;
  background-image: url("/static/images/login-banner.jpeg");
  background-size: cover;
}
.right-section {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_card {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  /* box-shadow: 0 4px 20px 0 rgba(125, 125, 125, 0.2); */
  border-radius: 10px;
}

.form_container {
  margin-top: 20px;
}

.login_btn {
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  background: rgb(255, 163, 93);
  color: white;
  margin-top: 5px;
}

.login_btn:hover {
  background: rgb(255, 140, 51);
  color: white !important;
}

.login_btn:focus {
  box-shadow: none;
  outline: 0px;
  background: rgb(255, 140, 51);
  color: white !important;
  border: none;
}

.login_container {
  padding: 0 2rem;
}

.input-group input {
  font-size: 30px !important;
  border: none;
  background-color: #f5f5f5 !important;
}

input[type="email"] {
  background-color: #f5f5f5 !important;
  border: none;
  font-size: 30px !important;
  padding: 10px;
}

.input-group-text {
  background: rgb(255, 255, 255);
  color: black;
  border: 0;
  border-radius: 0.25rem 0 0 0.25rem;
  height: 100%;
  font-size: 20px;
  background-color: #f5f5f5 !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none;
  outline: 0px;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.business-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

#messages {
  background-color: rgb(237, 237, 237);
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-top: 10px;
}
