<!DOCTYPE html>
{% load static %}
<html>


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> StudyCity </title>
  <link rel="shortcut icon" type="image/jpg" href="media/profile_pics/default.jpg" />


  <script src="{% static 'js/index.js' %}"> </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default">
  </script>
  <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>



  <script type="text/javascript">
    $(document).ready(function () {
      const urlSearchParams = new URLSearchParams(window.location.search);
      const params = Object.fromEntries(urlSearchParams.entries());

      if (params.rating) {
        selectRating(params.rating);
      }
      if (params.price) {
        selectDollar(params.price);
      }
      if (params.comfort) {
        selectComfort(params.comfort);
      }
      if (params.food) {
        selectFood(params.food);
      }
      if (params.wifi) {
        selectWifi(params.wifi);
      }
      if (params.charging) {
        selectCharging(params.charging);
      }
    });

    /* beautify preserve:start */
    const locations = {{location_list|safe}};
    /* beautify preserve:end */

    function initMap() {
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 12,
        center: {
          lat: 40.7128,
          lng: -74.0060
        },
      });
      // Create an array of alphabetical characters used to label the markers.
      const labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
      infoWindow = new google.maps.InfoWindow();

      const useCurrentLocation = document.getElementById("useCurrentLocation");
      useCurrentLocation.addEventListener("click", () => {
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            (position) => {
              const pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude,
              };

              infoWindow.setPosition(pos);
              infoWindow.setContent("Location found.");
              infoWindow.open(map);
              map.setCenter(pos);
            },
            () => {
              handleLocationError(true, infoWindow, map.getCenter());
            }
          );
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      })
      // Add some markers to the map.
      const markers = locations.map((location, i) => {
        return new google.maps.Marker({
          position: location,
          label: labels[i % labels.length],
        });
      });

      // Add a marker clusterer to manage the markers.
      new markerClusterer.MarkerClusterer({
        map,
        markers,
      });
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(
        browserHasGeolocation ?
        "Error: The Geolocation service failed." :
        "Error: Your browser doesn't support geolocation."
      );
      infoWindow.open(map);
    }


    function capitalize(string) {
      return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
    }

    const selectRating = (rating) => {
      if (rating == 0) {
        $("#ratingInput").val("");
      }
      for (let index = 1; index <= rating; index++) {
        $(`#rating${index}`).css("color", "gold");
        $("#ratingInput").val(rating);
      }
      for (let index = rating + 1; index <= 5; index++) {
        $(`#rating${index}`).css("color", "black");
      }
    };

    const selectDollar = (price) => {
      if (price == 0) {
        $("#priceInput").val("");
      }
      for (let index = 1; index <= price; index++) {
        $(`#price${index}`).css("color", "green");
        $("#priceInput").val(price);
      }
      for (let index = price + 1; index <= 3; index++) {
        $(`#price${index}`).css("color", "black");
      }
    };

    const selectComfort = (comfort) => {
      if (comfort == 0) {
        $("#comfortInput").val("");
      }
      for (let index = 1; index <= comfort; index++) {
        $(`#comfort${index}`).css("color", "gold");
        $("#comfortInput").val(comfort);
      }
      for (let index = comfort + 1; index <= 5; index++) {
        $(`#comfort${index}`).css("color", "black");
      }
    };

    const selectFood = (food) => {
      if (food == 0) {
        $("#foodInput").val("");
      }
      for (let index = 1; index <= food; index++) {
        $(`#food${index}`).css("color", "gold");
        $("#foodInput").val(food);
      }
      for (let index = food + 1; index <= 5; index++) {
        $(`#food${index}`).css("color", "black");
      }
    };

    const selectWifi = (wifi) => {
      if (wifi == 0) {
        $("#wifiInput").val("");
      }
      for (let index = 1; index <= wifi; index++) {
        $(`#wifi${index}`).css("color", "gold");
        $("#wifiInput").val(wifi);
      }
      for (let index = wifi + 1; index <= 5; index++) {
        $(`#wifi${index}`).css("color", "black");
      }
    };

    const selectCharging = (charging) => {
      if (charging == 0) {
        $("#chargingInput").val("");
      }
      for (let index = 1; index <= charging; index++) {
        $(`#charging${index}`).css("color", "gold");
        $("#chargingInput").val(charging);
      }
      for (let index = charging + 1; index <= 5; index++) {
        $(`#charging${index}`).css("color", "black");
      }
    };

    function clearFilter() {
      selectRating(0);
      selectDollar(0);
      selectComfort(0);
      selectFood(0);
      selectWifi(0);
      selectCharging(0);

    }
  </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
  {% include 'nav.html'%}
  <div class="main">
    <div id="map"></div>
    <form method="get" class="form-group my-4">
      <div class="container">
        <input id="locationInput" class="form-control" type="text" name="place"
          placeholder="{% if invalid_search %}Please enter a valid New York City zip code or street address 🗽 {% else %}Enter the location / zip code{% endif %}"
          value="{% if params.location and not invalid_search %}{{params.location}}{% endif %}" />
        <div class="form-check">
          <input name="useCurrentLocation" class="form-check-input" type="checkbox" value="" id="useCurrentLocation"
            onclick="toggleCurrentLocation()">
          <input type="hidden" name="longitude" id="longitude" />
          <input type="hidden" name="latitude" id="latitude" />
          <label class="form-check-label" for="useCurrentLocation">
            Use Current Location
          </label>
        </div>
      </div>
      <div class="ml-3" id="locationLoading"></div>


      <div class="container">
        <button type="button" class="btn btn-secondary my-4" data-toggle="modal" data-target="#filterModal">
          Filter
        </button>

        <!-- filtered results -->
        <div class="my-4 container">
          {% if businesses %}
          <h4>Your Study Locations:</h4>
          {% elif recommendations %}
          <h6>We're sorry, no study locations met your criteria</h6>
          {% endif %}
          <div class="row">
            {% for data in businesses %}
            <div class="col-4 my-2">
              <div class="card" style="width: 18rem">
                <img class="card-img-top" src="{{ data.image_url }}" alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">{{ data.name }}</h5>
                  <p class="card-text my-0">Phone: {{ data.phone }}</p>
                  <p class="card-text my-0">Rating: {{ data.rating }}</p>
                  <p class="card-text my-0">Price Range: {{ data.price }}</p>
                  <p class="card-text my-0">
                    Address: {{ data.location.address1}}
                  </p>
                  <p class="card-text my-0">
                    Zip Code: {{data.location.zip_code}}
                  </p>
                  <a href="{{data.url}}" target="_blank" class="card-text pointer">Visit Website</a>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <a class="" href="{% url 'locationDetail'%}?locationID={{data.id|default:''}}">
                  View detail
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>


        <!-- recommended results -->
        {% if recommendations %}
        <div class="my-4 container">
          <h4>Suggested Study Locations:</h4>
          <div class="row">
            {% for data in recommendations %}
            <div class="col-4 my-2">
              <div class="card" style="width: 18rem">
                <img class="card-img-top" src="{{ data.image_url }}" alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">{{ data.name }}</h5>
                  <p class="card-text my-0">Phone: {{ data.phone }}</p>
                  <p class="card-text my-0">Rating: {{ data.rating }}</p>
                  <p class="card-text my-0">Price Range: {{ data.price }}</p>
                  <p class="card-text my-0">
                    Address: {{ data.location.address1}}
                  </p>
                  <p class="card-text my-0">
                    Zip Code: {{data.location.zip_code}}
                  </p>
                  <a href="{{data.url}}" target="_blank" class="card-text pointer">Visit Website</a>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <a class="" href="{% url 'locationDetail'%}?locationID={{data.id|default:''}}">
                  View detail
                </a>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
        {% endif %}

        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModal"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-slideout" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12">
                    <div class="my-4">
                      <!-- <label>Enter the search term</label> -->
                      <!-- <input type="text" class="form-control" name="term"
                        value="{% if params.term %}{{params.term}}{% else %}&nbsp;{% endif %}" /> -->
                    </div>
                    <div class="form-check form-switch my-4">
                      <input name="open_now" class="form-check-input" type="checkbox" style="width:15px;height:20px;" id="flexSwitchCheckChecked"
                        checked={{
                          params.open_now
                          }} />
                      <label class=" form-check-label" for="flexSwitchCheckChecked"> <h4> Open Now </h4> </label>
                    </div>
                    <div class="my-4">
                      <h4>Yelp! Rating</h4>
                      <input type="hidden" class="form-control my-4" id="ratingInput" name="rating"
                        value="{{ params.rating }}" />
                      <i class="fas fa-star pointer" id="rating1" onclick="selectRating(1)"></i>
                      <i class="fas fa-star pointer" id="rating2" onclick="selectRating(2)"></i>
                      <i class="fas fa-star pointer" id="rating3" onclick="selectRating(3)"></i>
                      <i class="fas fa-star pointer" id="rating4" onclick="selectRating(4)"></i>
                      <i class="fas fa-star pointer" id="rating5" onclick="selectRating(5)"></i>
                    </div>
                    <div class="my-4">
                      <input type="hidden" class="form-control my-4" id="priceInput" name="price"
                        value="{{ params.price }}" />
                      <i class="fas fa-dollar-sign dollar pointer mr-2" id="price1" onclick="selectDollar(1)"></i>
                      <i class="fas fa-dollar-sign dollar pointer mr-2" id="price2" onclick="selectDollar(2)"></i>
                      <i class="fas fa-dollar-sign dollar pointer mr-2" id="price3" onclick="selectDollar(3)"></i>
                    </div>

                    <div class="my-4">
                      <h4>Comfort</h4>
                      <input type="hidden" class="form-control my-4" id="comfortInput" name="comfort"
                        value="{{ params.comfort }}" />
                      <i class="fas fa-star pointer" id="comfort1" onclick="selectComfort(1)"></i>
                      <i class="fas fa-star pointer" id="comfort2" onclick="selectComfort(2)"></i>
                      <i class="fas fa-star pointer" id="comfort3" onclick="selectComfort(3)"></i>
                      <i class="fas fa-star pointer" id="comfort4" onclick="selectComfort(4)"></i>
                      <i class="fas fa-star pointer" id="comfort5" onclick="selectComfort(5)"></i>
                    </div>

                    <div class="my-4">
                      <h4>Food</h4>
                      <input type="hidden" class="form-control my-4" id="foodInput" name="food"
                        value="{{ params.food }}" />
                      <i class="fas fa-star pointer" id="food1" onclick="selectFood(1)"></i>
                      <i class="fas fa-star pointer" id="food2" onclick="selectFood(2)"></i>
                      <i class="fas fa-star pointer" id="food3" onclick="selectFood(3)"></i>
                      <i class="fas fa-star pointer" id="food4" onclick="selectFood(4)"></i>
                      <i class="fas fa-star pointer" id="food5" onclick="selectFood(5)"></i>
                    </div>

                    <div class="my-4">
                      <h4>WiFi</h4>
                      <input type="hidden" class="form-control my-4" id="wifiInput" name="wifi"
                        value="{{ params.wifi }}" />
                      <i class="fas fa-wifi" id="wifi1" onclick="selectWifi(1)"></i>
                      <i class="fas fa-wifi" id="wifi2" onclick="selectWifi(2)"></i>
                      <i class="fas fa-wifi" id="wifi3" onclick="selectWifi(3)"></i>
                      <i class="fas fa-wifi" id="wifi4" onclick="selectWifi(4)"></i>
                      <i class="fas fa-wifi" id="wifi5" onclick="selectWifi(5)"></i>
                    </div>

                    <div class="my-4">
                      <h4>Charging</h4>
                      <input type="hidden" class="form-control my-4" id="chargingInput" name="charging"
                        value="{{ params.charging }}" />
                      <i class="fas fa-plug" id="charging1" onclick="selectCharging(1)"></i>
                      <i class="fas fa-plug" id="charging2" onclick="selectCharging(2)"></i>
                      <i class="fas fa-plug" id="charging3" onclick="selectCharging(3)"></i>
                      <i class="fas fa-plug" id="charging4" onclick="selectCharging(4)"></i>
                      <i class="fas fa-plug" id="charging5" onclick="selectCharging(5)"></i>
                    </div>
                    <div class="mb-3">
                      <div class=" btn btn-secondary" onclick="clearFilter()"> Clear Filters
                      </div>
                    </div>


                   <div class="form-check 311-switch my-4">
                      <input name="311_check" class="form-check-input" type="checkbox" style="width:15px;height:20px; "  id="flexSwitchCheck" />
                      <label for="311_check"> <h4>311 Noise Complaints</h4></label>
                    </div>


                    <input type="submit" id="searchLocation" class="btn btn-primary" value="Find me Study Spaces!" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key={{google}}&callback=initMap&v=weekly" async></script>
</body>

</html>