{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" height="200" width="200" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            {% if user.profile.business_account %}
                <p class="text-secondary">Business Account &#10004;&#65039;</p>
            {% endif %}
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <div>
        {% for review in reviews %}
            <h2>You reviewed <a  href="{% url 'locationDetail' %}?locationID={{ review.yelp_id }}">{{ review.business_name }}</a> on {{ review.date_posted }} : {{ review.review_text }}</h2>
        {% endfor %}
    </div>
    <div>
        {% if favorites %}
            <p>These are your favorite locations!</p>
        {% endif %}
        {% for favorite in favorites %}
            <p>{{ favorite.yelp_id }}</p>
            <a  href="{% url 'locationDetail' %}?locationID={{ favorite.yelp_id }}">{{ favorite.business_name }}</a>
        {% endfor %}
    </div>
    <form method=" POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Profile</legend>
            {#            {% crispy u_form %}#}
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Save Changes</button>
        </div>
        </form>
        <span><a href="{% url 'user' %}">Exit Profile</a></span>
        <span><a href="{% url 'index' %}">Search</a></span>
    </div>
</html>
