{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>StudyCity - Register</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body>
  <div class="">
    <div class="main">
      <div class="left-section">
      </div>
      <div class="right-section">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <h3 id="form-title">REGISTER ACCOUNT</h3>
          </div>
          <div class="d-flex justify-content-center form_container">
            <form method="POST" action="">
              {% csrf_token %}
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                {{form.username}}
              </div>
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></i></span>
                </div>
                {{form.email}}
              </div>
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                {{form.password1}}
              </div>
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                {{form.password2}}
              </div>
              <div class="mt-4 business-option">
                Business Account?
                {{form.business_account}}
              </div>

              <div class="d-flex justify-content-center mt-4 login_container">
                <input class="btn login_btn" type="submit" value="Register Account" />
              </div>
            </form>
          </div>
          <div class="text-center mt-3">
            {{form.errors}}
          </div>

          <div class="mt-4">
            <div class="d-flex justify-content-center links">
              Already have an account?
              <a href="{% url 'login' %}" class="ms-1">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
		//We start indexing at one because CSRF_token is considered and input field 
		 */

    //Query All input fields
    var form_fields = document.getElementsByTagName("input");
    form_fields[1].placeholder = "Username";
    form_fields[2].placeholder = "Email";
    form_fields[3].placeholder = "Enter password";
    form_fields[4].placeholder = "Re-enter Password";
    form_fields[5].placeholder = "Account type:";

    for (var field in form_fields) {
      form_fields[field].className += " form-control";
    }
  </script>
</body>

</html>