<style>
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #f5f5f5;
        width: 100%;
    }

    .about-btn {
        margin-left: 20px;
    }

    .btns {
        gap: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .btns p {
        margin: 0px;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .logo a {
        color: #000000;
        text-decoration: none;
    }

    .logo:hover {
        color: #000000;
        text-decoration: none;
    }

    .fa-user {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }

    button a {
        color: #000000;
        text-decoration: none;
    }
</style>
<nav>
    <div class="logo"><a href="{% url 'index' %}" text>
            <h1>StudyCity</h1>
        </a>
        <div class="about-btn">
            <a class="btn btn-outline-secondary" href="{% url 'about' %}">
                About
            </a>
            <a href="{% url 'advertise' %}" class="ms-2">
                <button class="btn btn-secondary">
                    Advertise
                </button>
            </a>
        </div>

    </div>

    <div class="btns">
        {% if user.is_authenticated %}
        <p>
            {{ request.user }}
        </p>
        <i class="fas fa-user"></i>
        <a href="{% url 'profile' %}" class="">
            <button class="btn btn-secondary">
                Profile
            </button>
        </a>

        <a href="{% url 'logout' %}">
            <button class="btn btn-outline-secondary">
                Logout
            </button>
        </a>

        {% else %}

        <a href="{% url 'register' %}">
            <button class="btn btn-secondary">
                Register
            </button>
        </a>

        <a href="{% url 'login' %}">
            <button class="btn btn-outline-secondary">
                Login
            </button>
        </a>

        {% endif %}

        {% comment %} <a href={% url 'index' %}>Search</a> {% endcomment %}
    </div>
</nav>