html,
body {
  height: 100%;
  margin: 0 !important;
  padding: 0;
}
:root {
  --color-orange-500: rgb(255, 163, 93);
  --color-orange-400: rgb(255, 140, 51);
  --color-gray: rgb(145, 145, 145);
}

.brands img {
  max-width: 100%;
  width: 100px;
  filter: opacity(0.8);
}
.brands {
  width: 100%;
}
.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.member img {
  width: 100%;
  height: 100%;
  max-width: 150px;
}
.member-name h3 {
  font-size: 1.5rem;
  margin: 10px 0px;
}
.member-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--color-gray); */
  /* width: 250px; */
  margin: 20px auto;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
/* .member-card:hover {
  border: white solid 1px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
} */
.banner-img {
  height: 400px;
}
.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}
.banner-text h1 {
  color: white;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-wrapper {
  position: relative;
}
.about-text {
  margin: 0 auto;
}
.about-text p {
  font-size: 22px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  gap: 20px;
}
.social-icons a {
  color: var(--color-gray);
}
.social-icons a:hover {
  color: black;
}
.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title h1 {
  margin: 0px;
  font-size: 30px;
}
.subtitle {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.subtitle h1 {
  margin: 0px;
  font-size: 22px;
  font-weight: bold;
}
